.navbar {
  background-color: #f8f9fa !important;
  padding: .2rem 0.5rem  !important;
}

.App {
  background-color: #fcfcfc;
}

.container {
  padding-left: 0 !important;
}

.col-3 {
  padding-left: 0 !important;
}

.col-5 {
  padding-left: 0 !important;
}

.col-4 {
  padding-left: 20px !important;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.board {
  margin-left: 28px;
}

.list-group {
  cursor: default;
  width: 220px;
}

.list-group h5 {
  font-size: 1.0rem;
}

.active-item {
  background-color: #f8f9fa !important;
}

.faded {
  opacity: 0.6;
}

.modal-title {
  font-size: 1.1rem;
  line-height: 1;
  color: #4b6074;
}

.main-home {
  padding-left: 0;
  padding-top: 20px;
  color: #626b82;
}

.main-home p{
  margin-top: 20px;
  color: #2d2c2c;
}

.h4 {
  color: #7ea92b;
}

.pad-left-0 {
  padding-left: 0 !important;
}

.bottom20 {
  margin-bottom: 20px;
}

.top8 {
  margin-top: 8px;
}

.top14 {
  margin-top: 14px;
}

.top20 {
  margin-top: 20px;
}

.top30 {
  margin-top: 30px;
}

.left125 {
  margin-left: 1.25rem;
}

.float-right {
  float: right
}

.align-right {
  text-align: right;
}

.fs-med {
  font-size: medium;
}

.fs14 {
  font-size: 14px;
}

.fs12 {
  font-size: 12px;
}

.font-light {
  font-weight: lighter;
}

.hover-background:hover {
  background-color: #f8f9fa !important;
}

.board-item {
  padding-bottom: 8px !important;
}

.board-item:hover {
  background-color: #cecfd6 !important;
}

.prob-info {
  margin-top: 10px;
  margin-left: 1.25rem;
  font-size: small;
  width: 184px;
  font-weight: lighter;
  color: #04101b
}

.rating_icon {
  font-size: 10px;
}

.edit-prob-btn {
  border-radius: 2px;
  background-color: #fcfcfc;
  color: #888f83;
  font-size: small;
  font-weight: lighter;
  border-width: thin;
  border-color: azure;
  margin-left: 1.25rem;
  padding-left: 6px;
  padding-right: 6px;
}

.edit-prob-icon {
  font-size: 0.5rem !important;
  cursor: pointer;
  padding-right: 3px;
}

.problem-item {
  padding-top: 0 !important;
  padding-bottom: 2px !important;
  background-color: rgba(252, 231, 233, 0.07) !important
}

.problem-item span{
  font-size: small;
}

.problem-item:hover {
  background-color: #f5f4fc !important;
}

.active-prob, .active-prob:hover {
  background-color: #eff0fc !important;
}

.rating-select {
  font-size: 10px;
  width: 68px !important;
}

.rating-select option {
  font-size: 10px;
}

.grade-sel-lab {
  margin-top: 12px;
  font-size: small;
  margin-bottom: 16px;
}

.clear-holds-btn {
  font-size: small;
  color: #403e4b;
  margin-top: 8px;
  border-radius: 2px;
  border-color: white;
  background-color: whitesmoke;
}

.greyed-btn {
  background-color: #d7d8df;
}

.sel-holds-txt {
  font-size: small;
  color: #f6a626;
  margin-left: 32px;
}

.problems-form label {
  font-size: small;
}

.grade-label {
  font-size: small;
  margin-left: 2px;
}

.problems-form input {
  font-size: small;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 17px;
  border-radius: 2px;
}

.lg-back-btn {
  border-radius: 2px;
  border-color: white;
  background-color: whitesmoke;
}

.link-text {
  color: #42669c;
  cursor: pointer;
  font-size: small;
}

.del-board-text {
  color: #f6a92c;
  cursor: pointer;
  font-size: small;
  margin-top: 18px !important;
}

.del-board-btn {
  margin: 12px 0 22px 22px;
}

.nav-btn {
  padding: 2px 6px !important;
  font-size: small !important;
}

.gen-btn {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 3px;
  background-color: #e5ebe9;
}

.gen-btn:hover {
  background-color: #cfdbd1;
}

.pa-form select  {
  width: 64px;
}

.pa-form label  {
  margin-right: 16px;
}

.pa-form div  {
  margin-top: 12px;
}

.form-error-msg  {
  text-align: left;
  font-size: small;
  color: #c63c09;
  margin-bottom: 12px;
  margin-top: 0 !important

}

.hold-nums select{
  display: inline-block;
  margin-top: 6px;
  margin-left: 14px;
  width: 52px;
  height: 35px;
  text-align: center;
}

.board-setup-btn, .save-board-btn, .set-hold-btn {
  margin-top: 24px;
  border: solid 1px #8a8a8a;
  background-color: #55bf3b;
  color: white;
  border-radius: 2px;
  padding: 4px 8px 4px 8px;
  display: inline
}

.set-hold-btn {
  background-color: #457348;
  margin-top: 0;
}

.set-hold-btn:disabled {
  background-color: #b0d6b3;
}

.save-board-btn {
  float: right !important;
  background-color: #374773;
  margin-top: 0;
}

.rm-hold-btn {
  background-color: #706a65;
  margin-left: 20px;
  border: solid 1px #8a8a8a;
  color: white;
  border-radius: 2px;
  padding: 0 0 4px;
  display: inline;
  height: 16px;
  width: 16px;
  font-size: small;
  line-height: 0;
}

.save-board-btn:disabled {
  background-color: #a9bdd6;
}

.hold_set_saved {
  margin-left: 30px;
  color: #5168a9;
  display: inline;
}

.all-holds {
  margin-top: 20px;
}

.revert-symbol {
  padding-left: 10px;
  font-size: small;
}

.edit-icon {
  padding-top: 5px !important;
  font-size: 0.6rem !important;
  cursor: pointer;
  float: right;
}

.board-lg-item {
  padding-left: 20px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.add_board_btn {
  /*padding-left: 20px !important;*/
  padding-top: 0 !important;
  padding-bottom: 2px !important;
  background-color: rgba(252, 231, 233, 0.07) !important
}

.add_board_btn span {
  font-size: small;
}

.add_board_icon {
  font-size: 0.6rem !important;
  padding-bottom: 18px !important;
  padding-right: 8px !important;
}

.problem_rate_icon {
  font-size: 0.4rem !important;
  float: right;
  padding-top: 10px !important;
}

.save_board_icon {
  margin-left: 12px !important;
}

.save_board_icon:hover {
  background-color: #f5f5f5;
  border-radius: 3px;
  cursor: pointer;
}

#edit_board_label {
  font-size: 11px;
}

.add_board_form {
  font-size: 0.8rem;
  padding-right: 0 !important
}

.add_board_input {
  width: 150px;
}