.navbar {
  background-color: #f8f9fa !important;
  padding: .2rem 0.5rem  !important;
}

.modal-title {
  font-size: 1.1rem;
  line-height: 1;
  color: #4b6074;
}

.main-home {
  padding: 10px;
}

.link-text {
  color: #6e87e0;
  cursor: pointer;
}