.navbar {
  background-color: #f8f9fa !important;
  padding: .2rem 0.5rem  !important;
}

.modal-title {
  font-size: 1.1rem;
  line-height: 1;
  color: #4b6074;
}

.main-home {
  padding-left: 0;
  padding-top: 20px;
  color: #626b82;
}

.main-home p{
  margin-top: 20px;
}

.h4 {
  color: #7ea92b;
}

.link-text {
  color: #42669c;
  cursor: pointer;
}

.small-font {
  font-size: small;
}

.mkrpl {
  /*animation: ripple1 0.7s linear infinite;*/
  /*!*transform-origin: center;*!  not need if no transform in animation*/
}

@keyframes ripple1 {
  0% {
    /*transform: scale(0.5);*/
    opacity: 0.3;
  }
  100% {
    /*transform: scale(1);*/
    opacity: 0.8;
  }
}